@page "/version"

<!Doctype html>
<html>
<head>
    <title>Version</title>
</head>
<body>
    <h1>V1.0</h1>
    <hr/>
    @DateTime.Now.ToShortTimeString()
    <hr/>
    @{
        var message = "Welcome...";
    }
    <h4>@message</h4>
</body>
</html>